{% extends 'core/base.html' %}
{% block content %}

<div class="container-wrapper">
    <div class="left-container">
        <table class="table table-borderless">
            <tbody>
                <tr>
                    <td>Team ID</td>
                    <td><span class="rounded-box">026</span></td>
                </tr>
                <tr>
                    <td>Time Elapsed</td>
                    <td><span class="rounded-box">{{T_TOTAL|last}}</span></td>
                </tr>
                <tr>
                    <td>Packet Count</td>
                    <td><span class="rounded-box">{{PKT_CNT|last}}</span></td>
                </tr>
                <tr>
                    <td>Flight State</td>
                    <td><span class="rounded-box">{{CUR_STATE|last}}</span></td>
                </tr>
                <tr>
                    <td colspan="2" style="text-align: center;">
                        <button id="startButton" class="btn btn-primary" onclick="location.href='{% url 'main-plot' %}'">Start Plotting</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
     
    
    <div class="right-container">
        <div class="chart-row">
            <div class="chart-col">
                <canvas id="altitudeChart" class="chart"></canvas>
            </div>
            <div class="chart-col">
                <canvas id="tempChart" class="chart"></canvas>
            </div>
        </div>
        <div class="chart-row">
            <div class="chart-col">
                <canvas id="accelChart" class="chart"></canvas>
            </div>
            <div class="chart-col">
                <canvas id="voltageChart" class="chart"></canvas>
            </div>
        </div>
        <div class="chart-row">
            <div class="chart-col">
                <canvas id="gnssChart" class="chart"></canvas>
            </div>
            <div class="chart-col">
                <canvas id="gyroChart" class="chart"></canvas>
            </div>
        </div>
    </div>
</div>

{% endblock %}