{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Anant Ground Console Station</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">

    <style>
        body {
            background-color: #000;
            color: #00ff00;
        }

        .navbar {
            background-color: #00ff00;
            text-align: center;
        }

        .container {
            display: flex;
        }

        .left-container {
            flex: 1;
            padding: 20px;
        }

        .right-container {
            flex: 3;
            padding: 20px;
        }

        table {
            width: 100%;
            color: #00ff00;
            margin-bottom: 20px;
        }

        table td {
            text-align: center;
            padding: 10px;
        }

        .rounded-box {
            border-radius: 5px;
            background-color: #500658fb;
            padding: 5px 10px;
        }

        #startButton {
            width: 100%;
        }

        @media (max-width: 768px) {
            .container {
                flex-direction: column;
            }
        }
        
    </style>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-light justify-content-center myFirstFont">
        <a class="navbar-brand " href="#"><strong> Anant CanSAT Ground Console Station</strong></a>
    </nav>
    
    <div class="container">
        <div class="left-container">
            <table>
                <tbody>
                    <tr>
                        <td>Team ID</td>
                        <td><span class="rounded-box" id="teamID">026</span></td>
                    </tr>
                    <tr>
                        <td>Time Elapsed</td>
                        <td><span class="rounded-box" id="timeElapsed">{{T_TOTAL|last}}</span></td>
                    </tr>
                    <tr>
                        <td>Packet Count</td>
                        <td><span class="rounded-box" id="packetCount">{{PKT_CNT|last}}</span></td>
                    </tr>
                    <tr>
                        <td>Operating Mode</td>
                        <td><span class="rounded-box" id="operatingMode">{{CUR_STATE|last}}</span></td>
                    </tr>
                    <tr>
                        <td>Latitude</td>
                        <td><span class="rounded-box" id="latitude">{{GPS_LAT|last}} ° N </span></td>
                    </tr>
                    <tr>
                        <td>Longitude</td>
                        <td><span class="rounded-box" id="longitude">{{GPS_LNG|last}} ° E</span></td>
                    </tr>
                    <tr>
                        <td colspan="2" style="text-align: center;">
                            <button id="startButton" class="btn btn-primary"
                                onclick="location.href='{% url 'main-plot' %}'">Start Plotting</button>
                        </td>
                    </tr>
                </tbody>
            </table>
            <img src="{% static 'core/logo.png' %}" alt="Team Anant Logo" style="width: 100%;">
        </div>
        
        <div class="right-container">
            <div class="row">
                <div class="col-md-12">
                    <canvas id="altitudeChart" class="line-chart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <canvas id="accelChart" class="line-chart"></canvas>
                </div>
                <div class="col-md-6">
                    <canvas id="tempChart" class="line-chart"></canvas>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <canvas id="imagChart" class="line-chart"></canvas>
                </div>
                <div class="col-md-6">
                    <canvas id="pressureChart" class="line-chart"></canvas>
                </div>
            </div>
        </div>
    </div>

<script>
    setTimeout(function(){
    window.location.reload(1);
    }, 20000);
</script>   
<script>  
    document.addEventListener('DOMContentLoaded', function () {

        var altitudeCtx = document.getElementById('altitudeChart').getContext('2d');
        var altitudeChart = new Chart(altitudeCtx, {
                        type: 'line',
        options: {
                animation: {
                    duration: 0
            },
        scales: {
            x: {
                ticks: {
                    color: 'white'
                }
            },
            y: {
                ticks: {
                    color: 'white'
                },
                max : 20,
                min : -5,

            }
        }
    },
            data: {
                labels: {{ PKT_CNT|safe }},
                datasets: [{
                    label: 'Altitude (m)',
                    data: {{ GAS_ALT|safe }},
                    borderColor: 'blue',
                    borderWidth: 1,
                    fill: false
                }]
            }
        });

        var tempCtx = document.getElementById('tempChart').getContext('2d');
        var tempChart = new Chart(tempCtx, {
                        type: 'line',
            options: {
                animation: {
                    duration: 0
            },
        scales: {
            x: {
                ticks: {
                    color: 'white'
                }
            },
            y: {
                ticks: {
                    color: 'white' 
                }
            }
        }
    },
            data: {
                labels: {{ PKT_CNT|safe }},
                datasets: [{
                    label: 'Temperature (C)',
                    data: {{ GAS_TEMP|safe }},
                    borderColor: 'green',
                    borderWidth: 1,
                    fill: false
                }]
            }
        });

        var accelCtx = document.getElementById('accelChart').getContext('2d');
        var accelChart = new Chart(accelCtx, {
                        type: 'line',
            options: {
                animation: {
                    duration: 0
            },
        scales: {
            x: {
                ticks: {
                    color: 'white'
                }
            },
            y: {
                ticks: {
                    color: 'white' 
                }
            }
        }
    },
            data: {
                labels: {{ PKT_CNT|safe }},
                datasets: [{
                    label: 'Accelerometer X',
                    data: {{ IACC_X|safe }},
                    borderColor: 'red',
                    borderWidth: 1,
                    fill: false
                },{
                    label: 'Accelerometer Y',
                    data: {{ IACC_Y|safe }},
                    borderColor: 'blue',
                    borderWidth: 1,
                    fill: false
                },{
                    label: 'Accelerometer Z',
                    data: {{ IACC_Z|safe }},
                    borderColor: 'green',
                    borderWidth: 1,
                    fill: false
                }]
            }
        });

        var pressureCtx = document.getElementById('pressureChart').getContext('2d');
        var pressureChart = new Chart(pressureCtx, {
                        type: 'line',
            options: {
                animation: {
                    duration: 0},
            scales: {
            x: {
                ticks: {
                    color: 'white'
                }
            },
            y: {
                ticks: {
                    color: 'white' 
                }
            }
        }
    },
            data: {
                labels: {{ PKT_CNT|safe }},
                datasets: [{
                    label: 'Pressure',
                    data: {{ GAS_PRS|safe }},
                    borderColor: 'purple',
                    borderWidth: 1,
                    fill: false
                }]
            }
        });

        var imagCtx = document.getElementById('imagChart').getContext('2d');
        var imagChart = new Chart(imagCtx, {
                        type: 'line',
            options: {
                animation: {
                    duration: 0
            },
        scales: {
            x: {
                ticks: {
                    color: 'white'
                }
            },
            y: {
                ticks: {
                    color: 'white' 
                }
            }
        }
    },
            data: {
                labels: {{ PKT_CNT|safe }},
                datasets: [{
                    label: 'Magnetic Inertia (Z)',
                    data: {{ IMAG_Z|safe }},
                    borderColor: 'orange',
                    borderWidth: 1,
                    fill: false
                }]
            }
        });
    setInterval(function(){
        jQuery.getJSON("/main-api/", function(response, status)
        {
            const gap = Object.values(response)[0].length - altitudeChart.data.labels.length
            if (gap){
                altitudeChart.data.labels.push(response.PKT_CNT.slice(-gap));
                altitudeChart.data.datasets[0].data.push(response.GAS_ALT.slice(-gap));
                altitudeChart.update();

                tempChart.data.labels.push(response.PKT_CNT.slice(-gap));
                tempChart.data.datasets[0].data.push(response.GAS_TEMP.slice(-gap));
                tempChart.update();

                imagChart.data.labels.push(response.PKT_CNT.slice(-gap));
                imagChart.data.datasets[0].data.push(response.IMAG_Z.slice(-gap));
                imagChart.update();

                pressureChart.data.labels.push(response.PKT_CNT.slice(-gap));
                pressureChart.data.datasets[0].data.push(response.GAS_PRS.slice(-gap));
                pressureChart.update();

                accelChart.data.labels.push(response.PKT_CNT.slice(-gap));
                accelChart.data.datasets[0].data.push(response.IACC_X.slice(-gap));
                accelChart.data.datasets[1].data.push(response.IACC_Y.slice(-gap));
                accelChart.data.datasets[2].data.push(response.IACC_Z.slice(-gap));

                accelChart.update();


            }
            
        });
        }, 1000);
    });
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        setInterval(updateLeftContainerValues, 250);
    });

    function updateLeftContainerValues() {
        $.getJSON("/main-api/", function (response, status) {
            $("#timeElapsed").text(response.T_TOTAL.slice(-1)[0]);
            $("#packetCount").text(response.PKT_CNT.slice(-1)[0]);
            $("#latitude").text(response.GPS_LAT.slice(-1)[0] + " ° N");
            $("#longitude").text(response.GPS_LNG.slice(-1)[0] + " ° E");
        });
    }
</script>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</body>

</html>
