{% extends 'core/base.html' %}
{% load static %}
{% block content %}


<div class="container-wrapper">
    <div class="right-container">
        <div class="big-chart-row">
            <div class="big-chart-col " >
                <h1 >GPS CO-ORDINATES</h1>
                <canvas id="latlongChart" class="big-chart"></canvas>
            </div>
        </div>
    </div>
</div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var latlongCtx = document.getElementById('latlongChart').getContext('2d');
        var latlongChart = new Chart(latlongCtx, {
            type: 'scatter',
            options: {
                plugins: {
            legend: {
                display: false},},
                animation: {
                    duration: 0
                },
                min : 0,
                max: 100,
                scales: {
                x: {
                    title: {
                    display: true,
                        text: 'Latitude',
                        font:{
                            size:20,
                        }
                    }},
                y: {
                    title: {
                    display: true,
                        text: 'Longitude',
                        font:{
                            size:20,
                        }
                    }}
                }
            },
            data: {
                labels: {{ GPS_LNG|safe }},
                datasets: [{
                    data: {{ GPS_LAT|safe }},
                    borderColor: 'red',
                    borderWidth: 1,
                }]
            }
        });
        setInterval(function(){
        jQuery.getJSON("/map-api/", function(response, status)
        {
            const gap = Object.values(response)[0].length - latlongChart.data.labels.length
            if (gap){
                latlongChart.data.labels.push(response.GPS_LNG.slice(-gap));
                latlongChart.data.datasets[0].data.push(response.GPS_LAT.slice(-gap));
                latlongChart.update();}
        });
        }, 250);
    });
    </script>
{% endblock %}